* {
	box-sizing: border-box;
}

main {
	background-color: rgb(143, 188, 143, .6);
	margin: 0px;
	padding: 50px;
}

body {
	margin: 0px;
}
	
h1 {
	display: inline;
	margin: 10px 20px;
	vertical-align: 50%;
	font-family: courier new;
	font-size: 300%;
}
	
h3 {
	color: darkslategrey;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: calibri;
	font-size: 40px;
	text-align: center;
}
	
h4 {
	color: darkslategrey;
	margin: 10px;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 30px;
	text-align: left;
	padding: 20px 20px 10px 0px;
}
	
h5 {
	color: whitesmoke;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 40px;
	text-align: center;
}
	
h6 {
	margin: 0px;
	text-align: center;
	font-size: 30px;
	color: darkslategrey;	
}

p {
	font-family: calibri;
	font-size: 20px;
	margin: 0px;
	padding: 0px 20px 12px 20px;
	color: darkslategrey;
}

p1 {
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 20px;
}

p2 {
	font-family: calibri;
	font-size:20px;
	color: darkslategrey;
}	

li {
	font-family: calibri;
	font-size: 200%;
}
	
nav {
	height: 60px;
	background-color: DarkSeaGreen;
	border-bottom: 4px solid SeaGreen;
	position: fixed;
	width: 100%;
}

.lotus {
	margin: 5px 10px 5px 60px;
	height: 90%;
}

header {	
	background-image: url("poze_yoga/crystal2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	margin: 0px;
}
		
header h2 {
	padding-top: 200px;
	color: Black;
	font-family: courier new;
	font-size: 600%;
	text-align: center;
	font-weight: bold;
	margin: 0px;
}

footer {
	background-color: DarkSeaGreen;
	padding: 30px 15px;
	text-align: center;
	border-top: 4px solid seagreen;
	font-family: 'Zen Maru Gothic', sans-serif;
	color: black;
}	
		
.meniu {
	list-style-type: none;
}
		
.meniu li {
	padding: 5px 10px;
}
		
.meniu li:hover {
	background-color:SeaGreen;
}
			
.meniu a {
	text-decoration: none;
	color: white;
}
			
.meniu a:hover {
	font-weight: none;
}
			
.orizontal {
	display: inline;
	vertical-align: 100%;
	margin-left: 200px;
}
			
.orizontal li {
	display: inline;
	margin-left: 60px;
}

.center {
	margin: auto;
	width: 80%;
	border: 3px solid seagreen;
	border-radius: 16%;
	padding: 20px;
}
	
.container::after {
	content: "";
	clear: both;
	display: table;
}

.sectiune {
	background-color: whitesmoke;
	padding-bottom: 0px;
}

.pe-jumate {
	float: left;
	width: 50%;
}
	
.imagine_femeie {
	width: 100%;
}	

	
.programe {
	list-style-type: none;
}
	
.inscrieri {
	background-color: rgb(143, 188, 143, .6);
	color: black;
	margin: 0px;
}

a.two:link, a.two:visited {
	background-color: whitesmoke;
	border: 4px solid white;
	color: darkslategrey;
	padding: 20px 60px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: calibri;
	display: inline-block;
	margin: 20px 2px;
	cursor: pointer;
	border-radius: 16px;
	transition: 0.3s;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
}

a.two:hover, a.two:active {
	background-color: darkseagreen;
	color: white;
}

ul.tipuri {
	margin: 30px 0px 60px 30px;
	padding-left: 100px;
	list-style-type: square;
	color: darkslategrey;
}
	
.echipa {
	background-color: black;
	color: whitesmoke;
}

.column {
	float: left;
	width: 33.33%;
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
	
.imagini_antrenori {
	width: 80%;
	height: auto;
	display: block;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 30%;
	padding: 0px 20px 0px 20px;
	margin-left: 45px;
	margin-right: 20px;
}
	
.imagini_antrenori:hover {
	opacity: 0.5;
}
	
.left {
	float:left;
	width: 500px;
	padding: 10px;
	margin-top: 40px;
	margin-left: 200px;
}

.right {
	float: right;
	width: 300px;
	padding: 10px;
	margin-top: 40px ;
	margin-right: 400px;
}

figure {
    background: whitesmoke;
    display: inline-block;
    margin: 10px 0px 60px;
    padding: 10px 10px 30px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    transition: all .20s linear;
	position: relative;
}

    figcaption {
		font-family: calibri;
        color: darkslategrey;
        font-size: 20px;
        position: relative;
        top: 15px;
    }

    figure img {
        display: block;
        width: 500px;
    }

    figure:hover {
        transform: scale(1.2);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    }


.video {
	border: 10px solid whitesmoke;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    transition: all .20s linear;
    position: relative;
}

.video:hover {
	transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: whitesmoke;
}

.flex-container > div {
	border: 3px solid green;
	border-radius: 30px;
	background-color: rgb(143, 188, 143, .6);
	width: 400px;
	margin: 53px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

.activitati_pe_zile {
	list-style-type: none;
	margin: 0px;
	font-size: 30px;
	padding-right: 40px;
	
}

.indicatii_inscriere {
	background-color: rgb(0, 0, 0, .6);
}

.arrow {
	padding: 30px;
}

a.three:link, a.three:visited {
	background-color: whitesmoke;
	border: 4px solid white;
	color: black;
	padding: 20px 60px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	font-family: calibri;
	display: inline-block;
	margin: 20px 2px;
	cursor: pointer;
	border-radius: 16px;
	transition: 0.3s;
	
}

a.three:hover, a.three:active {
	background-color: darkseagreen;
	color: white;
}

div.gallery {
	border: 1px solid #ccc;
}

div.gallery:hover {
	border: 1px solid #777;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	background-color: white;
	padding: 15px;
	text-align: center;
	font-size: 20px;
	font-family: calibri;
	color: darkslategrey;
}

.responsive {
	background-color: whitesmoke;
	padding: 20px 10px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.rezumat_galerie {
	background-color: rgb(143, 188, 143, .6);
	color: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.date_de_contact {
	background-color: black;
	padding: 10px;
}
.zen_contact {
	width: 100%;
	border: 3px solid whitesmoke;
}

.adresa {
	border: 3px solid green;
	margin: 10px 10px 0px 10px;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: 3px solid darkslategrey;
	outline: none;
	background-color: whitesmoke;
	color: darkslategrey;
	cursor: pointer;
	padding: 15px;
	border-radius: 16%;
}

#myBtn:hover {
	color: whitesmoke;
	background-color: darkslategrey;
}